@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    height: 100%;
    width: 100%;
}

/* Для ноутбуков и планшетов */
@media screen and (min-width: 1366px) {
    
}

header {
    width: 110.8vw;
    height: 6%;
    display: flex;
    justify-content: space-between;
    margin-left: -12vw;
    background-color: black;
    color: white;
    position: fixed;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    z-index: 100;
}

.logo {
    margin-left: 22vw;
    margin-right: 10vw;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.contact {
    margin-right: 2vw;
}
.header-item {
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
    height: 1vw;
    font-size: 1vw;
}

.nav-link {
    text-decoration: none;
}

.firstImg {
    margin: 0;
}

.firstImg figcaption {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 60%;
    margin-top: -30vw ;
}

.background {
    position: absolute;
    height: 940px;
    width: 100%;
    background-color: black;
    opacity: 0.6;   
    z-index: 3;
    margin-top: -940px; 
}

.main-background {
    width: 100%;
}

.main-description {
    position: relative;
    z-index: 3;
    font-size: 50px;
    font-size: 3vw;
    font-weight: 900;
    color: aliceblue;
    margin-top: -5vw;
    height: 5vw;
}

.main-description-1 {
    position: relative;
    z-index: 3;
    font-size: 1.8vw;
    font-weight: 700;
    color: aliceblue;
    width: 100%;
    height: 3.3vw;
    margin-top: 2vw;
    text-align: center;
}

.contact-us {
    margin-top: 3vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5vh;
    z-index: 3;
    height: 50px;
    width: 250px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(52, 52, 211);
}

.contact-us:hover {
    transition: 0.5s;
    background-color: rgb(0, 0, 255);
}

.margin-b {
    margin-top: 15vh;
margin-bottom: 15vh;
}

.features {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 21vw;
    padding-right: 21vw;
    margin-top: 25vw;
}
.features-item {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 23vw;
    width: 18vw;
    border: 1px solid;
    border-color: gray;
}

.features-item h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 50px;
}

.features-decsription {
    position: relative;
    font-size: 17px;
}

.bi-car-front-fill::before {
    margin-top: 20px;
    margin-bottom: 30px;
    transform: scale(3);
}

.features-item:hover {
    background-color: rgb(72, 72, 214);
    color: white;
    transition: 0.5s;
}

.newest-cars {
    text-align: center;
    width: 100%;
    height: 820px;
    background-color: #f8f9fb;
}

.Заголовок {
    width: 100%;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10vh;
}

.Заголовок-p {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin: 0;
}
.bigCar {
    margin-right: 6vw;
    height: 18vw;
}

.bigCar-name {
    margin-top: 0;
    margin-bottom: 5vh;
    font-size: 37px;
}

.bigItem {
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    text-align: left;
}

.bigDescription span {
    font-size: 20px;
}

.bigDescription {
    width: 508px;
}

.viewDetails {
    background-color: rgb(52, 52, 211);
    color: white;
    font-size: 18px;
    width: 200px;
    height: 50px;
    margin-top: 3vh
}



.featured-cars, p, h2{
    text-align: center;
}

.featured-cars {
    margin-left: 5vw;
    display: inline-grid;
    grid-template-columns: repeat(4, 20.7vw);
    column-gap: 10px;
    grid-template-rows: repeat(2, 24vw);
    row-gap: 10px;
    margin-left: 7vw;
}

.featured-cars-item-img {
    display: flex;
    justify-content: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    
}

.featured-cars-item-description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.95vw;
}

.featured-cars-item-description1 {
    padding: 0.4vw;
    font-size: 1.2vw;
}

.featured-cars-item-description p{
    border-bottom: 1px solid ;
    padding: 0.4vw;
    margin: 0;
}

.featured-cars-item-img img {
    height: 7vw;
}

.description-item{
    text-align: center;
}

.featured-cars-item {
    border: 1px solid;
}

.featured-cars-item-name {
    text-align: left;
}

.featured-cars-item p{
    margin-top: 0;
    text-align: left;
}

.comments {
    width: 100%;
    height: 80vw;
    background-color: #f8f9fb;
}

.comments h2 {
    padding-top: 9vw;
    margin-top: 9vw;
}

.comments-container {
    padding-left: 12vw;
    padding-right: 12vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.comment {
    padding-top: 3vw;
    width: 23vw;
    height: 32vw;
    border: 1px solid;
    border-color: gray;
}

.comment:hover {
    background-color: #4e4ffa;
    color: white;
    transition: 0.5s;
}



.comment h2 {
    padding: 0;
    margin: 0;
}

.comment-text {
    font-size: 1.6vw;
    padding-right: 2vw;
    padding-left: 2vw;
}

.commentator-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5vw;
}

.brands {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding-left: 16vw;
    padding-right: 16vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.brand {
    height: 5vw;
}

.fake-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 25vw;
    background-color: #2a2d54;
    color: #f8f9fb;
}

.fake-footer-column {
    width: 24vw;
}

.fake-footer-column p{
    margin-top: 1vw;
}

.fake-footer-column h2{
    font-size: 1.7vw;
}

.main-description-2 {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.3vw;
}

.fake-footer-ul {
    position: relative;
    white-space: pre;
    padding-left: 1vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 14vw;
}

.fake-footer-ul li {
    
    width: 100%;
    font-size: 1.1vw;
    list-style-type: none;
}

@keyframes li-animation {
    from {
        padding-left: 0;
    }

    to {
        padding-left: 1vw;
    }
}

.fake-footer-ul li:hover {
    animation: li-animation 1s forwards;
}

.subscribe {
    background-color: #26294d;
    padding-left: 1vw;
    color: #666c81;
    width: 12vw;
    height: 4vw;
    margin-left: 5.2vw;
    margin-right: 5.2vw;
}

.bi-arrow-right-circle {
    position: absolute;
    margin-right: 20vw;
    left: 92%;
    padding-top: 1.7vw;
}


